.pagination-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.pageNumber-btn {
  border: none;
  background-color: #ffc478;
  padding: 0.5rem;
}

.pageNumber-btn:hover {
  cursor: pointer;
}
