.shoppingCartWrapper {
  padding-top: 4rem;
  padding-left: 1rem;
}

b {
  text-align: center;
  margin: 1rem;
}

.CartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  padding: 1rem;
}

.CartItems {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.CartItems {
  width: 100%;
  flex-wrap: wrap;
}

.CartTitleContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
}

.CartProductQuantity,
.CartRemove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartProductName {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}

.CartProductQuantity {
  width: 7rem;
}

.CartRemove {
  width: 5rem;
}

.cartSummaryContainer {
  width: 100%;
}

details {
  width: 100%;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

details[open] {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.cartSummary div {
  display: flex;
  justify-content: space-between;
}

.productList {
  display: flex;
  flex-direction: column;
}
