.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px 25px;
  margin: 0px 5px;
}

.container h1 {
  font-family: 'Open Sans';
  text-transform: uppercase;
}

.jobContainer {
  margin: 10px 5px;
  padding: 10px;
}

.jobContainer h2,
.jobContainer h3 {
  font-family: 'Open Sans';
}

.jobContainer h2,
.jobContainer p,
.jobContainer h3,
.jobContainer ul {
  margin-top: 20px;
}
