.checkout-form-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  background: rgb(202, 199, 199);
}

.form-container {
  width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(240, 240, 240);
  background: #89d1bf;
  border-radius: 10px;
}

.customer-information,
.shipping-details,
.payment-information {
  display: flex;
  flex-direction: column;
}

.checkout__btn-confirm {
  height: 4rem;
  color: #fff;
  background: #ffc478;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.progress-bar,
.progress-circle {
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 0.5rem;
  width: 100%;
  border-radius: 2%;
  gap: 0.5rem;
}

.progress-circle {
  height: 100%;
  width: 25%;
  border: 1px solid rgb(255, 254, 254);
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.progress-circle.active {
  background: rgb(255, 254, 254);
}

/* FORM GLOBAL STYLES*/

.checkout__label {
  font-weight: bold;
  margin: 0.5rem 0;
}

.checkout__input {
  height: 3rem;
  width: 100%;
  margin: 0.5rem 0;
}

.checkout__btn-confirm {
  height: 3rem;
  margin-top: 2rem;
}
