.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #aaa;
}

.cartItemDetails {
  display: flex;
  justify-content: space-between;
  width: 18rem;
  padding: 0rem 1rem;
}

.adjQuantity {
  display: flex;
  width: 7rem;
  justify-content: space-between;
}

.adjQuantity button {
  height: 2rem;
  width: 1.5rem;
  border-radius: 0.3rem;
  border: none;
}

.SubTotal {
  width: 7rem;
  text-align: center;
}

.CartRemoveBtn {
  height: 2rem;
  width: 5rem;
  border-radius: 0.3rem;
  border: none;
}
