.ItemCard {
  height: 300px;
  width: 200px;
  margin: 10px 10px;
  border-radius: 7px;
  background-color: #fff8cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.ProductImg {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin: 0;
}

.ProductImage {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 150px;
  transform: translate(-50%, -50%);
}

.ProductDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.ProductDetails > button {
  border: none;
  background-color: #ff9642;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  font-size: 10px;
}

.ProductDetails > button:hover {
  cursor: pointer;
}
