.footerContainer {
  height: 250px;
  background-color: #000000;
  color: #ffe05d;
  font-family: 'open sans';
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  position: relative;
}

.footerContainer > p {
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 45%;
}

.footerLinks {
  margin-top: 30px;
  display: flex;
  color: #ffe05d;
}

.link {
  margin: 10px 0px;
  color: #ffe05d;
  text-decoration: none;
}

.company,
.customerCare,
.follow {
  margin-left: 40px;
}

.company > ul,
.customerCare > ul,
.follow > ul {
  margin: 10px 0;
}
