/* 
#75cfb8
#bbdfc8
#f0e5d8
#ffc478 
*/

.wrapper {
  background: #f0e5d8;
  font-size: 16px;
  overflow: hidden;
  color: #1e1e1e;
}

/* BANNER SECTION */

.banner {
  height: 100vh;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svgContainer {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
}

.svgContainer svg {
  height: 100%;
  width: 100%;
}

.greeting {
  margin: 4rem;
}

h1 {
  font-size: 4rem;
  color: #ffc478;
}

.greeting button {
  background: transparent;
  height: 3rem;
  width: 8rem;
  border: 2px solid #7dddc5;
  margin: 1rem 0;
  transition: background ease-in-out 0.3s, border ease-in-out, 0.3s;
}

.greeting button:hover {
  cursor: pointer;
  color: #fff;
  background: #7dddc5;
  border: 2px solid #fff;
}

/* PRODUCTS SECTION */

.productCategoriesCard,
.categoryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCategoriesCard {
  background: #75cfb8;
  justify-content: center;
  margin: 1rem 0;
  padding: 4rem 1rem;
}

.categoryCard {
  height: 250px;
  min-width: 320px;
  position: relative;
  text-align: left;
}

.imgCard1 {
  background: url('../../Assets/card/vegetables.jpg');
}

.imgCard2 {
  background: url('../../Assets/card/drinks.jpg');
}

.imgCard3 {
  background: url('../../Assets/card/chips.jpg');
}

.imgCard1,
.imgCard2,
.imgCard3 {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.imgCardCover {
  opacity: 0;
  background: #1e1e1e;
  height: 100%;
  width: 100%;
  transition: opacity ease-in-out 0.3s;
}

.imgCardText {
  position: absolute;
  top: 0%;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCardText button {
  background: transparent;
  color: #fff;
  padding: 1rem;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: background ease-in-out 0.3s;
}

.categoryCard:hover .imgCardCover,
.categoryCard:focus .imgCardCover {
  opacity: 0.5;
}

.categoryCard:hover .imgCardText,
.categoryCard:focus .imgCardText {
  opacity: 1;
  z-index: 3;
}

.imgCardText button:hover {
  background: #7dddc5;
}

/* POPULAR PRODUCTS SECTION */

.popularProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 4rem 1rem;
}

.popularProductsInnerContainer {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  width: 320px;
  height: 320px;
  margin: 2rem 0;
}

.popularProductsInnerContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* DISCOUNTED PRODUCTS SECTION */

.discountedProducts {
  display: flex;
  overflow-x: auto;
}

.discountedProducts::-webkit-scrollbar {
  width: 0;
}

.discountedCard {
  background: #bbdfc8;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 250px;
  min-width: 250px;
}

@media only screen and (min-width: 760px) {
  .productCategoriesCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
  }

  .popularProducts {
    padding: 4rem 28px;
    align-items: flex-start;
  }

  .popularProductsInnerContainer {
    min-width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .popularProductsInnerContainer {
    width: 100%;
  }
}
