/* 
#75cfb8
#bbdfc8
#f0e5d8
#ffc478 
*/

.wrapper {
  font-size: 16px;
  overflow: hidden;
  color: #1e1e1e;
}

/* BANNER SECTION */

.banner {
  height: 100vh;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../../Assets/banner/banner.jpg') no-repeat;
  background-size: cover;
  color: #f0e5d8;
  /* mask-image: url('../../Assets/banner/blob.svg');
  mask-repeat: no-repeat;
  mask-position: right; */
}

.cover {
  position: absolute;
  left: 0%;
  background: #1e1e1e;
  opacity: 0.4;
  height: 100%;
  width: 100%;
}

.banner h1 {
  color: #ffc478;
}

.greeting {
  margin: 4rem 1rem;
  z-index: 3;
}

h1,
h2 {
  color: #ffc478;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.greeting button {
  color: #f0e5d8;
  background: transparent;
  height: 3rem;
  width: 8rem;
  border: 2px solid #7dddc5;
  margin: 1rem 0;
  transition: background ease-in-out 0.3s, border ease-in-out, 0.3s;
}

.greeting button:hover {
  cursor: pointer;
  color: #f0e5d8;
  background: #7dddc5;
  border: 2px solid #f0e5d8;
}

/* CARD */

.cardSection,
.card,
.img {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardSection {
  color: #1e1e1e;
  padding-top: 4rem;
}

.card {
  padding: 1rem;
  text-align: left;
}

.cardSectionWrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 1rem;
}

.cardDescription h2,
.cardDescription p {
  margin: 1rem 0;
}

.img {
  height: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem 0;
}

.img img {
  height: 80%;
  width: 80%;
}

/* PRODUCTS SECTION */

.products {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.productCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 100%;
}

.productCard > img {
  position: absolute;
}

.productCover {
  position: absolute;
  left: 0%;
  background: #1e1e1e;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0.4;
}

.productBtn {
  width: 10rem;
  padding: 1rem;
  border: 2px solid #fff;
  background: transparent;
  text-decoration: none;
  color: #fff;
  z-index: 4;
  transition: background ease-in-out 0.3s, border ease-in-out 0.3s;
}

.productBtn:hover {
  color: #fff;
  background: #7dddc5;
  border: 2px solid #7dddc5;
  cursor: pointer;
}

.productCard img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 720px) {
  .cardSectionWrapper {
    flex-direction: column;
  }

  .card {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .cardDescription {
    width: 50%;
    max-width: 400px;
  }

  .img {
    width: 50%;
    max-width: 400px;
  }

  .productsWrapper {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .productCard {
    height: 350px;
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .products {
    align-items: center;
  }

  .productsWrapper {
    max-width: 1200px;
    border: 1px solid red;
  }

  .productCard {
    height: 450px;
    width: 500px;
  }
}
