/* 
#75cfb8
#bbdfc8
#f0e5d8
#ffc478 
*/

.navbarWrapper {
  background: #75cfb8;
  height: 3rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.navbarWrapper h2 {
  color: #fff;
}

.navbarWrapper a {
  text-decoration: none;
  color: #75cfb8;
}

.navLinks {
  display: none;
}

.navLinks a {
  color: #fff;
}

.navLinks a:hover {
  border-bottom: 2px solid #ffc478;
}

.linksWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.linksWrapper svg:hover {
  cursor: pointer;
  color: #ffc478 !important;
}

.burgerMenuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.burgerMenuWrapper:hover {
  cursor: pointer;
}

.burgerMenu,
.burgerMenu::before,
.burgerMenu::after {
  background-color: #fff;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.burgerMenu {
  transition: background-color ease-in-out 0.3s;
}

.burgerMenu::before,
.burgerMenu::after {
  content: '';
  transition: transform ease-in-out 0.3s;
  position: absolute;
}

.burgerMenu::before {
  transform: translateX(-0.8rem);
}

.burgerMenu::after {
  transform: translateX(0.8rem);
}

.burgerMenuOpen,
.burgerMenuOpen::before,
.burgerMenuOpen::after {
  transition: transform ease-in-out 0.3s;
  background-color: #fff;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.burgerMenuOpen::before,
.burgerMenuOpen::after {
  content: '';
  position: absolute;
}

.burgerMenuOpen::before {
  transform: translateY(-0.8rem);
}

.burgerMenuOpen::after {
  transform: translateY(0.8rem);
}

.hideBurgerMenu,
.openBurgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.hideBurgerMenu,
.openBurgerMenu {
  background: #fff;
  padding: 4rem 0;
  height: 100vh;
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}

.hideBurgerMenu {
  transition: transform ease-in-out 0.4s;
  transform: translateX(300px) translateY(3rem);
}

.openBurgerMenu {
  transition: transform ease-in-out 0.4s;
  transform: translateX(0px) translateY(3rem);
}

@media only screen and (min-width: 760px) {
  .burgerMenuWrapper {
    display: none;
  }

  .navLinks {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .burgerMenuWrapper {
    display: none;
  }
}
