/* 
#75cfb8
#bbdfc8
#f0e5d8
#ffc478 
*/

.wrapper {
  background: #f0e5d8;
  overflow: hidden;
}

.sectionTitle {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

/* PRODUCTS SECTION */

.productCategoriesCard,
.categoryCard {
  display: flex;
  flex-direction: column;
  position: relative;
}

.productCategoriesCard {
  background: #f0e5d8;
  justify-content: center;
  padding: 4rem 0rem;
}

.categoryCard {
  padding: 0 2rem;
  position: relative;
}

.productImg,
.itemDescription {
  height: 300px;
  width: 100%;
  display: flex;
}

.itemDescription {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.productImg {
  position: relative;
}

.productImg:hover .imgCover {
  opacity: 0.5;
  z-index: 3;
}

.imgCover {
  height: 100%;
  width: 100%;
  background: #1e1e1e;
}

.productImg:hover .btn {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 5;
}

.imgBtn {
  padding: 1rem;
  background: transparent;
  border: 2px solid #f0e5d8;
  color: #f0e5d8;
  transition: background ease-in-out 0.3s;
}

.imgBtn:hover {
  cursor: pointer;
  background: #7dddc5;
}

.productImg > img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 720px) {
  .productCategoriesCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .categoryCard {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .categoryCard:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .itemDescription {
    padding: 0rem 1rem;
  }

  .popularProducts {
    padding: 4rem 28px;
    align-items: flex-start;
  }

  .popularProductsInnerContainer {
    min-width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
}
