/* 
#75cfb8
#bbdfc8
#f0e5d8
#ffc478 
*/

.wrapper {
  background: #f0e5d8;
  overflow: hidden;
}

/* PRODUCTS SECTION */

.productsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem;
}

.productCategoriesCard,
.categoryCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.productCategoriesCard {
  justify-content: center;
  margin: 1rem 0;
  padding: 4rem 1rem;
}

.categoryCard {
  height: 300px;
  min-width: 330px;
  position: relative;
  text-align: left;
}

.imgCard1 {
  background: url('../../Assets/card/vegetables.jpg');
}

.imgCard2 {
  background: url('../../Assets/card/drinks.jpg');
}

.imgCard3 {
  background: url('../../Assets/card/chips.jpg');
}

.imgCard1,
.imgCard2,
.imgCard3 {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.imgCardCover {
  opacity: 0;
  background: #1e1e1e;
  height: 100%;
  width: 100%;
  transition: opacity ease-in-out 0.3s;
}

.imgCardText {
  position: absolute;
  top: 0%;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCardText button {
  background: transparent;
  color: #fff;
  padding: 1rem;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: background ease-in-out 0.3s;
}

.categoryCard:hover .imgCardCover,
.categoryCard:focus .imgCardCover {
  opacity: 0.5;
}

.categoryCard:hover .imgCardText,
.categoryCard:focus .imgCardText {
  opacity: 1;
  z-index: 3;
}

.imgCardText button:hover {
  background: #7dddc5;
}

@media only screen and (min-width: 720px) {
  .productCategoriesCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  }

  .popularProducts {
    padding: 4rem 28px;
    align-items: flex-start;
  }

  .popularProductsInnerContainer {
    min-width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .popularProductsInnerContainer {
    width: 100%;
  }
}
