.shipping-information-container {
  border: 1px solid red;
  width: 500px;
  min-height: 500px;
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.shipping-information-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shipping-information-container form h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
